<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><center>
<h1>Juego iniciado</h1>
<form method="POST" action="/pedircartas">
	<input type="submit" value="Solicitar">
</form>
cartas:
<%=session['carta1'] %>
<%=session['carta2'] %>
</center>
</body>
</html>