<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><center>
<h1>Juego iniciado</h1>
<form method="POST" action="/jugar">
	<input type="submit" value="Solicitar">
</form>
A K
</center>
</body>
</html>