<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body><center>
<h1>Juego iniciado</h1>
<form method="POST" action="/pedircartas">
	<input type="submit" value="Solicitar">
</form>
<h1>cartas:</h1>
<%=session['carta1'] %>
<%=session['carta2'] %>

<h1>suma: <%=session['suma']%> </h1>


<h1><%=session['resultado']%></h1>
</center>
</body>
</html>